*{
margin : 0;
padding : 0;
box-sizing : border-box;
}

body{
    display : flex; 
    justify-content: center; 
    align-items : center; 
    height: 100vh;
    
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    border : 2px solid black ;
    padding: 1rem;
    border-radius: 1rem;
    
    display : flex; 
    justify-content: center; 
    align-items : center; 
    flex-direction:column;
    height: 10rem;
    width: 20rem;
    background-color: rgb(236, 132, 132);
}
.btn-container{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
button{
display: inline-block;
border : 2px solid black ;     
border-radius: 10px;
padding:0 1rem;
margin: .5rem;
color: white;
font-size: 1.2rem;
font-weight: bold;
cursor: pointer;
}
.yes-btn{
    background: blue;
    transition: .5s all;
}
.yes-btn:hover{
    background: white;
    border-color: blue;
    color: blue;
}
.no-btn{
    background: red;
    position: relative;
}

@media only screen and (max-width:800px) {
    .container{
        width: 80%;
        height: 30%;
    }
    .btn-container{
        margin-top: 2rem;
    }
}