/* *{
margin : 0;
padding : 0;
box-sizing : border-box;
}

body{
    display : flex; 
    justify-content: center; 
    align-items : center; 
    height: 100vh;
    
    background: #c31432;
background: -webkit-linear-gradient(to right, #240b36, #c31432); 
background: linear-gradient(to right, #240b36, #c31432); 

}
.container{
    border : 2px solid black ;
    padding: 1rem;
    border-radius: 1rem;
    
    display : flex; 
    justify-content: center; 
    align-items : center; 
    flex-direction:column;
    height: 10rem;
    width: 20rem;
    background-color: rgb(236, 132, 132);
}
.btn-container{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    position: relative;
}
button{
display: inline-block;
border : 2px solid black ;     
border-radius: 10px;
padding:0. 5rem;
margin: .2rem;
color: white;
font-size: 1.1rem;
font-weight: bold;
cursor: pointer;
}
.yes-btn{
    background: blue;
    transition: .5s all;
}
.yes-btn:hover{
    background: white;
    border-color: blue;
    color: blue;
}
.no-btn{
    background: red;
    position: absolute;
    transition: .3s all;
}

@media only screen and (max-width:800px) {
    .container{
        width: 80%;
        height: 30%;
    }
    .btn-container{
        margin-top: 2rem;
    }
} */

body{
    display : flex; 
    justify-content: center; 
    align-items : center; 
    min-height:100vh;
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper{
    position: relative;
    width: 70vw;
    height: 70vh;
    background-color: white;
    border-radius: 20px;
    display : flex; 
    justify-content: center; 
    align-items : center; 
    flex-direction:column;
}
@media only screen and (max-width:800px) {
    .wrapper{
        width: 90%;
        height: 50vh;
    }
}
h2{
    font-size: 3rem;
    color: #e82adf;
text-align:center;
transition : .5s all;
}
.btn-group{
    width: 100%;
    height: 40px;
    display : flex; 
    justify-content: center; 
    margin-top: 15px;
}
button{
    position: absolute;
    width: 140px;
    height: inherit;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #7d2ae8;
    outline: none;
    cursor: pointer;
    color: white;
    transition: .5s all;
}

button:nth-child(1){
    margin-left: -160px;
    background-color: #e82a89;
    border: none;
}

button:nth-child(2){
    margin-right: -160px;
    background-color: #7d2ae8;
    transition: .2s all;
}
/*
.no-btn:hover{
    border: 2px solid #7d2ae8;
    background-color: white;
    color: #7d2ae8;
}
*/
.yes-btn:hover{
border : 2px solid #e82a89;
background: white; 
color: #e82a89;
}
